body {
    margin: auto;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }
/*
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}*/